<head>
<mota charset="UTF-8">
 <link rel="stylesheet" type="text/css" media="screen" href="http://v2ex.com/css/shared.css?v=3.3.2">
 <link rel="stylesheet" type="text/css" media="screen" href="http://uliweb.cpython.org/static/bootstrap/2.2.0/boottrap.min.css?ver=2:9">
 <link rel="stylesheet" type="text/css" media="screen" href="/static/css/djforums.css">
 <script src="http://www.w3school.com.cn/jquery/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div id="Top">
        <div class="content">
            <div style="padding-top: 6px;">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody><tr>
                    <!--td width="120" align="left"><a href="/" name="top" title="way to explore"><img src="//cdn.v2ex.com/site/logo@2x.png?m=1346064962" border="0" align="default" alt="V2EX" width="94" height="30"></a></td-->
					<td style="font-family:微软雅黑; font-size:20px; font-weight:bold; text-align:center; color:gray;">Django 开发论坛</td>
                    <td width="auto" align="left">
                        <div id="Search"><form onsubmit="return dispatch()"><div style="width: 276px; height: 28px; background-size: 276px 28px; background-image: url('/static/img/qbar_light@2x.png'); background-repeat: no-repeat; display: inline-block;"><input type="text" maxlength="40" name="q" id="q" value=""></div></form></div>
                    </td>
                    <td width="520" align="right" style="padding-top: 2px;"><a href="/" class="top">首页</a>&nbsp;&nbsp;&nbsp;<a href="accounts/register/" class="top">注册</a>&nbsp;&nbsp;&nbsp;<a href="accounts/login/" class="top">登录</a></td>
                </tr>
            </tbody></table>
            </div>
        </div>
    </div>

<form method="post" action="" style="text-align:center;">
{% csrf_token %}
<table>
{{form.as_table}}
</table>
<input type="submit" value="注册" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</html>

</body>

